header {
  height: 60px;
  background-color: gray;
}

header > div {
  height: 100%;
}

header img {
  height: 80%;
}

.title-container,
.fa-shopping-cart,
.cart-container {
  color: white;
}

.title-container {
  font-size: 30px;
}

.cart-container span {
  font-size: 20px;
}

.fa-shopping-cart {
  font-size: 30px;
}

.list-item {
  height: 40vh;
}

.list-item .img-container {
  height: 60%;
}

.cart-item-container .img-container,
.cart-item-container > div {
  height: 90%;
}

.list-item img,
.cart-item-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.product-name {
  font-size: 20px;
}

.product-price {
  color: gray;
}

.cart-item-container {
  height: 25vh;
}

.button {
  cursor: pointer;
}
